<div class="narration" [hidden]="!collapsed">(<a (click)="toggleCollapse()">Show Narration</a>)</div>
<div class="container col-md-12" [hidden]="collapsed">
<div class="panel panel-default narration" *ngIf="model && model.length > 0">
    <div class="panel-heading narration">
        <span class="panel-title">Narration (<a (click)="toggleCollapse()">hide</a>)</span>
    </div>
    <div class="panel-body console">
        <ul>
            <li *ngFor="let narration of model"  (click)="select(narration)">
                <span class="bullet" [class.selected]="narration == selected">&gt;</span> <span class="desc">{{narration.step}}</span></li>
        </ul>
    </div>
    <div class="panel-body">
        <div *ngIf="selected" class="explanation help-block">{{selected.narration}}
            <span *ngIf="showExpandPre && expandedPre">(<a (click)="expandPre() " title="collapse">-</a>)</span>
            <span *ngIf="showExpandPre && !expandedPre">(<a (click)="expandPre()" title="show all">+</a>)</span>
            <pre *ngIf="selected.pre" [class.expanded]="expandedPre" (click)="expandPre()">{{selected.pre}}</pre>
        </div>
        <div class="help-block" *ngIf="!selected">Click on a step above for an explanation</div>
    </div>
</div>
</div>