<div class="panel panel-default">
  <h2 class="panel-heading">Find Hotels</h2>
  <form [ngFormModel]="hotelForm"
        (ngSubmit)="onSubmit(hotelForm.value)"
        class="form-inline"
        [class.has-error]="!hotelForm.valid">

    <div class="form-group"
      [class.has-error]="!hotelForm.find('description').valid">
      <label for="descriptionInput">Description</label>
      <input type="text"
             id="descriptionInput"
             placeholder="enter an optional keyword"
             #desc="ngForm"
             [ngFormControl]="hotelForm.controls['description']"
             class="form-control">
    </div>

    <div class="form-group"
        [class.has-error]="!hotelForm.find('location').valid">
      <label for="locationInput">Location</label>
      <input type="text"
             id="locationInput"
             placeholder="eg. 'London', 'United States', 'California'..."
             #loc="ngForm"
             [ngFormControl]="hotelForm.controls['location']"
             class="form-control">
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Find Hotels</button>
  </form>
</div>